<!DOCTYPE html>
{% load static %}
<head>
    <style>
        body{
             background-image: url({% static "images/bg4.jpg" %});
        }
        h3{
            text-transform: capitalize;
        }
        p{line-height: 30px;
            margin-left: 500px;
        }
    </style>
    <title></title>
</head>
<body>
<form action="psn">

  SCHOOLING:<p><h3>samyuktha complited her schooling in st"marks high school at east marredpally secundrabad</h3>
    <br>
    INTERMEDIATE:<p><h3>she complited her intermediate in sri chaitanya junior college in paradise at (mpc) group</h3><br>
    DEGREE:<p><h3>she complited her degree in littlt flower degree college in uppal at(BSC-MPC) stream</h3>
    <p><input type="submit" value="Back"></p>
</form>
</body>
