<!DOCTYPE html>
{% load static %}
<head>
    <style>
        body{
            background-image: url({% static "images/bg5.jpg" %});
        }

        h1{
            text-align: center;
            color: deeppink;
        }
        body{
            margin-left: 50px;
        }
    </style>
    <title></title>
</head>
<body>
<h1><i> HAPPY BIRTHDAY SAMYUKTHA</i></h1><br>
<marquee width="73%"><h1>welcome to Kadasi Ganapathi's Family</h1> </marquee><br>
<a href="sanjeev">Register Here</a><br>
<a href="saroja">Login Here</a>
</body>
