<!DOCTYPE html>
{% load static %}
<head>
    <style>
        body{
              background-image: url({% static "images/bg3.jpg" %});
            color: deeppink;
        }
        h1{
            text-align: center;
        }
        p{
            margin-left: 500px;
        }
    </style>

</head>
<body bgcolor="black ">
<form action="apple" >
    <h1>
        Nicknames of Samyuktha
    </h1>
<ul><h2>
     <li>Samyu</li>
     <li>Sammu</li>
     <li>Sampoo</li><br>
    </h2>
    </ul>
<p><input type="submit"  value="Back" ></p>
</form>

</body>
</html>